<header id="top" class="header">
	<div class="text-vertical-center">
		<h1>&#x2193; This is a fancy list of joboffers&#x2193;</h1>
		<h2>generated with a headless Wordpress</h2>
		<br>
		<!--<a href="#about" class="btn btn-dark btn-lg">Find Out More</a>-->
	</div>
</header>
