<section id="services" class="services bg-primary">
  <div class="container">
    <div class="row text-center">
      <form>
        <div class="form-group">
          <label for="exampleInputBerufsbezeichnung">Berufsbezeichnung</label>
          <input type="text" class="form-control" id="exampleInputBerufsbezeichnung" placeholder="Berufsbezeichnung">
        </div>
        <div class="form-group">
          <label for="exampleInputStellenbeschreibung">Stellenbeschreibung</label>
          <textarea rows="5" class="form-control" id="exampleInputStellenbeschreibung" placeholder="Stellenbeschreibung"></textarea>
        </div>
        
        <button type="submit" id="addJob" class="btn btn-default">Submit</button>
      </form>
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>